body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
  background-color: lightgrey;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
  display: flex;
  align-items: center;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.input[type=text] {
  width: 100%;
  outline: none;
  padding: 8px 15px;
  background-color: white;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
}
